/*--comment box-- */
.vwrap {
  padding: 5px !important;
  margin-top: 20px !important;
  border: 1px solid #ddd !important;
}
.vwrap .vcontrol {
  padding-top: 0 !important;
}
.vbtn{
  padding: .15rem .5rem !important;
  font-size: .725rem !important;
}
.vwrap .vedit .vctrl span{
  padding: 0 !important;
  color: #ccc !important;
}
.vinput {
  padding: 5px 0 !important;
}
.vwrap .vheader .vinput {
  border-bottom: 1px solid #ddd !important;
}
.veditor {
  min-height: 0 !important;
}
.vwrap .vcontrol .col.col-20 a {
  color: #ccc !important;
  pointer-events: none !important;
}
.vwrap .vcontrol .col.col-20 {
  font-size: .6rem !important;
  vertical-align: bottom !important;
}
.vlist .vcard .vhead .vsys {
  display: none !important;
  padding: .1rem .2rem !important;
  font-size: .6rem !important;
}
.txt-right {
  display: none !important;
}
.vempty {
  font-size: .725rem !important;
}
textarea::placeholder {
  color: #e8e8e8 !important;
}
.vlist .vcard a {
  color: #aaa !important;
}
.vlist .vcard a:hover {
  color: #7b0f19 !important;
}
.vlist .vcard a:before {
  background: none !important;
}
.v .vlist .vcard .vh {
  border-bottom: none !important;
  border-top: 1px solid #f5f5f5 !important;
}
.vlist .vcard .vquote {
  border-left: none !important;
  padding-left: 0 !important;
}
.vlist .vcard .vh .vmeta .vat {
  float: none !important;
  color: #b3b3b3 !important;
  font-size: .75rem !important;
}
.vlist .vcard .vhead .vnick {
  color: #aaa !important;
}
.vlist .vcard .vhead .vnick:hover {
  color: #7b0f19 !important;
}
.vlist .vcard .vhead .vnick:before {
  background: none !important;
}
.vlist .vcard {
  padding-top: 0.35rem !important;
}
.vlist .vcard .vcontent {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}
.vlist .vcard .vimg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.vavatar {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  animation: rotate 0.25s linear infinite;
}