---
layout: page
title: 存档 | 竹本物语
header: 文章按年存档
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}

<div>
	<h3>本站文章总字数为
{% assign count = 0 %}
{% for post in site.posts %}
    {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
    {% assign count = count | plus: single_count %}
{% endfor %}

{% if count > 10000 %}
    {{ count | divided_by: 10000 }} 万 {{ count | modulo: 10000 }}
{% else %}
    {{ count }}
{% endif %} 
字</h3>
</div>
<div class="page card">
{% include JB/posts_collate %}
</div>