---
title: Home
layout: default
description: Juby是我的名字，渚碧是音译，碧色的小洲（青い渚），是不是能让人感到一点诗意呢？曾经取过很多名字的我，今后要化作南海中的一礁了······
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 100 }}&hellip;</p>
      
      <hr class="post-list_divider" />
      <div class="post-list__meta">
        <a href="/archive" rel="nofollow">
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time></a>

        <a href="/tags" rel="nofollow">  
            <span class="post-list__meta--tags">{% for tag in post.tags %}{{ tag | xml_escape }}&nbsp{% endfor %}</span></a>

        <a rel="nofollow" class="btn-border-small" href={{ post.url }}>继续阅读››</a>
      </div>
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>
