---
title: Home
layout: default
pagination:
  enabled: true
description: Juby是我的名字，渚碧是音译，碧色的小洲（青い渚），是不是能让人感到一点诗意呢？曾经取过很多名字的我，今后要化作南海中的一礁了······
---

<div class="main-post-list">

  <ul class="category">| 
    {% for categ in site.categs %}
    <li><a href="{{categ.url}}">{{categ.title}}</a></li> | 
    {% endfor %}
  </ul>

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <div class="post-list__meta">
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time>
      </div>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 100 }}&hellip;</p>
      <hr class="post-list_divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>
