<section class="post-comments">

{% if site.comment.valine %}

<div id="comment">
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <script>
    var valine = new Valine();
    valine.init({
      el: '#comment',
      appId: 'CRU9WNiFOXtffNHePc2WD4sT-gzGzoHsz',
      appKey: 'YsaHf3ahdzk2NkPOmNBohvgd',
      placeholder: 'If you were coming in the fall, I\'d brush the summer by...',
      avatar: 'mp',
    })
  </script>
</div>

<script>
  if(window.location.hash){
    var checkExist = setInterval(function() {
      if ($(window.location.hash).length) {
        $('html, body').animate({scrollTop: $(window.location.hash).offset().top-90}, 1000);
        clearInterval(checkExist);
      }
    }, 100);
  }
</script>

{% endif %}

</section>