
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/lightbox.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> 
<script async src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<!-- <script>
  $('pre').addClass("line-numbers").css("white-space", "pre-wrap");
</script> -->

<script>
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true,
  })
</script>

<!-- back to top -->
<script>
  $("#back-top").hide();
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 150) {
        $('#back-top').fadeIn();
      } else {
        $('#back-top').fadeOut();
      }
    });
    $('#back-top a').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });
</script>

<!-- reward -->
<script>
  function openWindow(obj){
    document.getElementById('light_weixin').style.display='block';
    document.getElementById('fade').style.display='block';
  }
  function closeWindow(){
    document.getElementById('light_weixin').style.display='none';
    document.getElementById('fade').style.display='none';
  }
</script>

<!-- Typekit font--><!-- 
<script>
  (function(d) {
    var config = {
      kitId: 'evi7cop',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script> -->

