<section class="footer">
    <footer>
        <div class = "footer_div">  
        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

          <!-- Wechat -->
          <li class="navigation__item_social">
            <a href="javascript:;" id="pay_weixin" onclick="openWindow(this)" title="赞赏我">
              <i class='social fa fa-weixin fa-2x'></i>
              <span class="label">Wechat</span>
            </a>
          </li>

          <!-- RSS -->
          <li class="navigation__item_social">
            <a href="/feed.xml" rel="author" title="订阅我的博客" target="_blank">
              <i class='social fa fa-rss fa-2x'></i>
              <span class="label">RSS</span>
            </a>
          </li>

          </ul>
        </nav>

        </div>
        <br/>

        <div id="light_weixin" class="white_content">  
          <p class="weixin_zhifu">如果喜欢，可以打赏我:)</p>
            <span class="weixin_img"><img src="/images/wechatpay.png" /></span>
          <p class="weixin_zhifu"> 微信支付 金额随意</p> 
        </div>
        <div id="fade" class="black_overlay"  onClick="closeWindow()">
        </div>

        <div class = "footer_div">  
           <div class="copyright text-muted" style="float:left; width:100%;margin-right: -200px;">
            &copy; <a href="https://db.tt/IR6uIeK4ls" target="_blank"><span style="color: #7b0f19;">Juby</span></a> <i class="fa fa-heart"></i> 2015-{{ site.time | date: '%Y' }}
           </div>

           <div align="right" style="float: right; width: 200px;">
           <!-- 访问统计 -->
    			  <span id="busuanzi_container_site_pv">访问 <span id="busuanzi_value_site_pv"></span> 次</span>          
           </div>           
        </div>
    </footer>
</section>
