
<footer class="footer">

  <div id="light_weixin" class="white_content">
    <span><img src="/images/default/rewardcode.png"></span>
    <p> </p>
  </div>
  
  <div id="fade" class="black_overlay"></div>

  <div class = "footer_div">  
     <div class="copyright text-muted" style="float:left; width:100%;margin-right: -200px;">
       &copy; <span style="color: #7b0f19;">Juby</span> 2015-{{ site.time | date: '%Y' }}
     </div>

     <div align="right" style="float: right; width: 200px;">
		   <!-- <span id="busuanzi_container_site_pv">访问 <span id="busuanzi_value_site_pv"></span> 次</span> -->
      Run <span id="time"></span>
     </div>           
  </div>

</footer>
<script type="text/javascript">
var dateBegin = new Date('2015/01/03 23:15:15');
var dateEnd = new Date();
var dateDiff = dateEnd.getTime() - dateBegin.getTime();
var dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));
var timeLeft = dateDiff % (24 * 3600 * 1000); 
var hours = Math.floor(timeLeft / (3600 * 1000));
var time = dayDiff + 'd' + hours + 'h';
document.getElementById('time').innerHTML = time;
</script>