<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.read %}<meta name="referrer" content="never">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <title> 
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate:120 }}{% else %}{{ page.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="author" content="{{site.author}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{site.social.twitter}}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:image" content="{% if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage | prepend: site.url }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate:120 }}{% else %}{{ page.description }}{% endif %}">

  <link rel="icon" type="image/x-icon" href="/images/default/favicon.ico" />
  <link href="/images/default/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/default/favicon.ico" type="image/x-icon" />
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <meta name="baidu-site-verification" content="{{ site.baidu.site_verification }}" />
  <meta name="google-site-verification" content="{{ site.google.site_verification }}" />

<!-- google_ad_section_start -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ site.google.adsense}}",
      enable_page_level_ads: true
    });
  </script>
<!-- google_ad_section_end -->

</head>


