<section>
  <div class="pager">
    {% if page.previous.url %}
    <div class="previous">
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">
        << <span>{{ page.previous.title }}</span>
      </a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="next">
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}"><span>{{ page.next.title }}</span> >>
      </a>
    </div>
    {% endif %}
  </div>
</section>