{% if page.layout == 'post' %}
<script async src="https://{{ site.cdn }}/gh/jubyshu/nagisaao/assets/js/prism.js"></script>
<script async src="https://{{ site.cdn }}/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
{% endif %}
{% if page.flowchart %}
<script async src="https://{{ site.cdn }}/npm/flowchart.js/release/flowchart.min.js"></script>
{% endif %}
{% if page.math %}
<script id="MathJax-script" async src="https://{{ site.cdn }}/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
<script src="/assets/js/main.js"></script>