{% assign image_path = "gh/jubyshu/nagisaao/images"%}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <li class="navigation__item_social">
      <a href="https://www.youtube.com/@{{ site.social.youtube }}" rel="author" title="Youtube" target="_blank">
        <img src="https://{{ site.cdn }}/{{ image_path }}/youtube.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="https://www.threads.net/@{{ site.social.instagram }}" rel="author" title="Instagram" target="_blank">
        <img src="https://{{ site.cdn }}/{{ image_path }}/instagram.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="https://bsky.app/profile/{{ site.social.twitter }}.bsky.social" rel="author" title="Twitter" target="_blank">
        <img src="https://{{ site.cdn }}/{{ image_path }}/twitter.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="/feed.xml" rel="author" title="RSS Subscribe" target="_blank">
        <img src="https://{{ site.cdn }}/{{ image_path }}/rss.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
  </ul>
</nav>