<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <li class="navigation__item_social">
      <a href="//www.youtube.com/@{{ site.social.youtube }}" rel="author" title="Youtube" target="_blank">
        <img src="//{{ site.cdn }}/gh/jubyshu/nagisaao/images/youtube.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="//www.threads.net/@{{ site.social.instagram }}" rel="author" title="Instagram" target="_blank">
        <img src="//{{ site.cdn }}/gh/jubyshu/nagisaao/images/instagram.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="//bsky.app/profile/{{ site.social.twitter }}.bsky.social" rel="author" title="Twitter" target="_blank">
        <img src="//{{ site.cdn }}/gh/jubyshu/nagisaao/images/twitter.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
    <li class="navigation__item_social">
      <a href="/feed.xml" rel="author" title="Subscribe" target="_blank">
        <img src="//{{ site.cdn }}/gh/jubyshu/nagisaao/images/rss.svg" width="20px" height="20px" loading="lazy">
      </a>
    </li>
  </ul>
</nav>