<div class = "footer_div">  
    <nav class="cover-navigation navigation--social">
      <ul class="navigation">

        <!-- Twitter -->
        <li class="navigation__item_social">
          <a href="https://twitter.com/jubyshu" rel="author" title="我的推特" target="_blank">
            <i class="fa fa-twitter"></i>
            <span class="label">Twitter</span>
          </a>
        </li>

        <!-- RSS -->
        <li class="navigation__item_social">
          <a href="/feed.xml" rel="author" title="订阅我的博客" target="_blank">
            <i class="fa fa-rss"></i>
            <span class="label">RSS</span>
          </a>
        </li>

      </ul>
    </nav>

</div>
