@media all and (max-width: 960px) {
  .container {
    margin: 0 auto;
    max-width: none;
  }

  .content-wrapper__inner {
    padding: 0 3%;
  }
}

@media all and (max-width: 420px) {
  .content-wrapper {
    width: 96%;
    
    &__inner {
      padding: 0 2%;
    }
  }

  h1 {
    margin-top: 0;
    font-size: 1.6em;
    letter-spacing: 0;
  }

  h2 {
    font-size: 1.4em;
  }
}