// < 1100px
@media all and (max-width: 1100px) {
  .panel-title {
    font-size: 1.8em; 
  }

  .panel-description {
    margin: 0 10px;
    font-size: .9em; 
  }
}

// < 960px
@media all and (max-width: 960px) {
  .container {
    margin: 0 auto;
    max-width: none;
  }
  .panel-main {
    display: table;
    position: relative;
  }

  .panel-main__inner {
    display: table-cell;
    // padding: 30px 0 3% 3%; 
  }

  .panel-cover {
    width: 100%;
    height: 210px;
    display: block;
    position: relative;
    background-position: center center;
    .panel-description {
      display: block; 
      margin-top: 10px;
    }
    .navigation {
      display: block;
    }
  }

  .content-wrapper {
    width: 94%;
    // margin: 0 auto; 
  }

  .content-wrapper__inner {
    // margin: 20px 0 auto 0;
    padding: 0 3%;
  }
}

// pager < 600px
@media all and (max-width: 600px) {
  .vwrap {
    float: left !important;
  }
}

// < 420px
@media all and (max-width: 420px) {
  .panel-cover {
    width: 100%;
    margin-left: 0;
  }

  .panel-main__inner {
    padding: 0 5%; 
  }

  .content-wrapper {
    width: 96%;
    max-width: none; 
  }
  .content-wrapper__inner {
    padding: 0 2%;
  }

  h1 {
    margin-top: 0;
    font-size: 1.6em;
    line-height: 1.1em;
    letter-spacing: 0;
  }

  h2{
    font-size: 1.4em;
    line-height: 0.9em;
  }
  
  .panel-title {
    margin-bottom: .1em;
    font-size: 1.8em; 
  }
}

