
// 青钝
$aonibi: #535953;
// 吕
$ro: #0C0C0C;
// 蓝海松茶
$aimirucha:#0F4C3A;
// 银鼠
$ginnezumi: #91989F; 
// 白鼠
$shironezumi: #BDC0BA;
// 青碧
$seiheki: #268785;
// 蓝黑茶
$aisumicha: #373C38;


$link-color: $aimirucha;
$sub-hover-color: $seiheki;
$hover-color: $seiheki;
$border-color: $shironezumi;
$font-color: $ro;
$sub-font-color: $aonibi;
$background-color: #f6f6f6;
$meta-color: $ginnezumi;
$title-color: $aisumicha;

$source-serif: "PT Serif", "Noto Serif", "Noto Serif CJK SC", "Noto Serif CJK", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif", "source-han-serif-sc", serif;
$kaiti-serif: "Alice", "STKaiti", "Adobe Kaiti Std", "KaiTi", "楷体", "SimKai", "DFKai-SB", serif;
$heiti-sans-serif: "Helvetica Neue", "Helvetica", "Arial", "Source Han Sans CN", "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

@mixin div-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin cover-image {
  background-image: -webkit-linear-gradient(-410deg, rgba(248, 248, 248, 1) 20%, rgba(248, 248, 248, 1));
  background-image: linear-gradient(140deg,rgba(248, 248, 248, 1) 20%, rgba(248, 248, 248, 1)); 
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin rotate-infinite {
  animation: rotate 0.25s linear infinite;
  -moz-animation: rotate 0.25s linear infinite;
  -webkit-animation: rotate 0.25s linear infinite;
  -o-animation: rotate 0.25s linear infinite;
}

@mixin rotate-circle {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}