:root {
  --color-body-bg: #efefef;
  --color-page-bg: #fcfcfc;
  --color-font: #0C0C0C;
  --color-font-muted: #535953;
  --color-border: #e1e1e1;
  --color-title: #373C38;
  --color-quote-bg: #dff7e9;
  --color-code-bg: #f5f2f0;
  --color-code-font: #3b4252;
  --color-toc-bg: #f6f6f6;
  --color-top-btn-bg: #ffffff;
  --color-top-arrow: #606060;
  --color-theme-btn-bg: rgba(0,0,0,0.04);
  --color-theme-btn-hover: rgba(0,0,0,0.08);
  --image-cover: url("//fastly.jsdelivr.net/gh/jubyshu/nagisaao/images/cover-light.webp");

  // color for prismjs
  --prism-color-fg: #000;
  --prism-color-bg: #f5f2f0;
  --prism-text-shadow: 0 1px #fff;
  --prism-selection-bg: #b3d4fc;
  --prism-line-number-color: #999;
  --prism-line-number-border: #999;
  --prism-toolbar-color: #bbb;
  --prism-toolbar-bg-styled: #f5f2f0;

  --prism-token-comment: #708090;
  --prism-token-punctuation: #999;
  --prism-token-namespace-opacity: 0.7;
  --prism-token-boolean-number: #905;
  --prism-token-string: #690;
  --prism-token-css-string-bg: hsla(0, 0%, 100%, 0.5);
  --prism-token-keyword: #07a;
  --prism-token-function: #dd4a68;
  --prism-token-variable: #e90;
  --prism-token-entity-operator: #9a6e3a;

  --prism-token-tag-deleted: var(--prism-token-boolean-number);
  --prism-token-constant-symbol: var(--prism-token-boolean-number);
  --prism-token-function-name: var(--prism-token-function);
}

[data-theme="dark"] {
  --color-body-bg: #0d1117;
  --color-page-bg: #161b22;
  --color-font: #e5e5e5;
  --color-font-muted: #bdc0bd;
  --color-border: #3b4350;
  --color-title: #d5d5d5;
  --color-quote-bg: #1f2a32;
  --color-code-bg: #2d2d2d;
  --color-code-font: #cccccc;
  --color-toc-bg: #2f3332;
  --color-top-btn-bg: #606060;
  --color-top-arrow: #ffffff;
  --color-theme-btn-bg: rgba(255,255,255,0.08);
  --color-theme-btn-hover: rgba(255,255,255,0.12);
  --image-cover: url("//fastly.jsdelivr.net/gh/jubyshu/nagisaao/images/cover-dark.webp");

    // color for prismjs
  --prism-color-fg: #ccc;
  --prism-color-bg: #2d2d2d;
  --prism-text-shadow: none;
  --prism-toolbar-bg-styled: rgba(224, 224, 224, 0.2);

  --prism-token-comment: #999;
  --prism-token-punctuation: #ccc;
  --prism-token-namespace-opacity: 1;

  --prism-token-boolean-number: #f08d49;
  --prism-token-string: #7ec699;
  --prism-token-keyword: #cc99cd;
  --prism-token-function: #f08d49;
  --prism-token-variable: #7ec699;
  --prism-token-entity-operator: #67cdcc;

  --prism-token-tag-deleted: #e2777a;
  --prism-token-constant-symbol: #f8c555;
  --prism-token-function-name: #6196cc;
  --prism-token-css-string-bg: transparent;
}

$body-bg-color: var(--color-body-bg);
$page-bg-color: var(--color-page-bg);
$font-color: var(--color-font);
$sub-font-color: var(--color-font-muted);
$border-color: var(--color-border);
$title-color: var(--color-title);
$quote-bg-color: var(--color-quote-bg);
$code-bg-color: var(--color-code-bg);
$code-font-color: var(--color-code-font);
$toc-bg-color: var(--color-toc-bg);
$top-btn-bg-color: var(--color-top-btn-bg);
$top-arrow-color: var(--color-top-arrow);
$theme-btn-bg-color: var(--color-theme-btn-bg);
$theme-btn-hover-color: var(--color-theme-btn-hover);
$cover-image: var(--image-cover);

$link-color: #00896C;
$sub-link-color: #268785;
$hover-color: #CA7A2C;
$meta-font-color: #91989F;

$serif-font: "PT Serif", Georgia, "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif", "Source Han Serif JP", "Noto Serif", "Noto Serif SC", "Noto Serif JP", serif;
$sans-font: "PT Sans", Helvetica, Tahoma, Arial, "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", "Source Han Sans JP", "Noto Sans", "Noto Sans SC", "Noto Sans JP", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$body-font: $sans-font;
$quote-font: $sans-font;

$sum-image: url("//fastly.jsdelivr.net/gh/jubyshu/nagisaao/images/feather.svg");
