// 文本折叠
details {
  p {
    font-family: $kaiti-serif;
    color: $sub-font-color;
    padding: 0.5em 2em;
    border-radius: 3px;
    background: $background-color;
  }
}

summary {
  display: inline-block;
  margin: 3px auto;
  cursor: pointer;
  color: $link-color;
  border-bottom: 1px solid $link-color;
  &:after {
    content: url(/images/default/feather.svg);
    padding-left: 2px;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

details[open] {
  > summary {
    border-bottom: none;
  }
}

// 返回顶部按钮
#back-top {
  a {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: block;
    border: 1px solid $border-color;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #fff;
    text-align: center;
  }
}

#arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  transform: rotate(-45deg);
  margin: 14px 10.5px;
}

// 脚注
sup {
  a {
    font-size: 0.7em;
    line-height: 0;
    vertical-align: text-top;
    position: relative;
    bottom: -0.1em;
    text-decoration: none;
    &:before {
      content: '[';
      color: $link-color;
    }
    &:after {
      content: ']';
      color: $link-color;
    }
  }
}

.footnotes {
  font-size: 0.8em;
  color: #999;
  margin-top: 25px;
  padding-top: 10px;
  &:before {
    display: block;
    content: '';
    border-top: 0.6px solid $border-color;
    width: 5%;
    margin-bottom: 7px;
  }
  a {
    text-decoration: none;
  }
}

// 目录
.post-toc {
  visibility: hidden;
  position: fixed;
  display: block;
  right: 50px;
  top: 170px;
  padding: 5px;
  max-width: 190px;
  background: #f6f6f6;
  border-radius: 3px;
  li {
    list-style-position: inside;
    list-style-type: none;
    margin: auto 5px;
    a {
      color: $sub-font-color;
      font-size: 0.9em;
      &.active {
      color: $hover-color;
      }
    }
  }
  &:before {
    display: block;
    content: "目录";
    margin: 5px;
    font-size: 1.1em;
  }
}

// 404页面
.notfound {
  display: block;
  text-align: center;
  // width: 25%;
  @include div-middle;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  h1 {
    padding-top: 0.5em;
  }
}

// YouTube
.ytb-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.ytb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Douban Read
// .douban-list ul li {
//   width: 80px;
//   float: left;
//   margin: 5px;
//   list-style: none outside none;
//   img {
//     width: 70px;
//     height: 100px;
//     padding: 5px;
//     border: solid 1px $border-color;
//   }
// }

// Post Achive
ul.post_list {
    margin-bottom: 0.2em;
}
.post_count {
  color: $hover-color;
  font-size: .6em;
  vertical-align: text-top;
}
.post_num {
  color: $hover-color;
}

// Category
.category {
  float: right;
  margin-top: -40px;
  font-size: 0.8em;
  li {
    display: inline;
  }
}

.tag_box {
  margin: 0;
  li {
    display: inline;
    margin-right: 10px;
  }
}

.collcontent {
  display: none;
}

.collapsible {
  border: none;
  outline: none;
  background: none;
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: .5em;
  color: $title-color;
  -webkit-font-smoothing: antialiased; 
}