// 文本折叠
details {
  font-family: $kaiti-serif;
  p {
    color: #4f4f4f;
    padding: 0.5em 2em;
    border-radius: 5px;
    background: #f5f2f0;
  }
}

summary {
  display: inline;
  margin: 3px auto;
  cursor: pointer;
  color: $link-color;
  &:hover {
    color: $hover-color;
  }
  &:after {
    content: url(/images/default/feather.svg);
    padding-left: 2px;
  }
  &::-webkit-details-marker {
    display: none;
  }
}

details[open] {
  > summary {
    border-bottom: none;
  }
}

// 微信赞赏
.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  border: 2px solid $orange-dark;
  border-radius: 10px;
  @include div-middle;
  p {
    text-align: center;
    margin: 10px auto;
  }
}

// 返回顶部按钮
#back-top {
  a {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: block;
    border: 1px solid #dedede;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #f0f0f0;
    text-align: center;
    &:hover {
      border: 1px solid #5c5c5c;
      background-color: #fff;
    }
  }
}

#arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  transform: rotate(-45deg);
  margin: 14px 10.5px;
}

// 脚注
sup {
  a {
    font-size: 0.7em;
    line-height: 0;
    vertical-align: text-top;
    position: relative;
    bottom: -0.1em;
    text-decoration: none;
    &:before {
      content: '[';
      color: $red-normal;
    }
    &:after {
      content: ']';
      color: $red-normal;
    }
  }
}

.footnotes {
  font-size: 0.8em;
  color: #999;
  margin-top: 25px;
  padding-top: 10px;
  &:before {
    display: block;
    content: '';
    border-top: 0.6px solid #999;
    width: 5%;
    margin-bottom: 7px;
  }
  a {
    text-decoration: none;
  }
}

// 目录
#markdown-toc {
  display: block;
  float: right;
  border: 1px solid #aaa;
  border-radius: 3px;
  li {
    list-style-position: inside;
    margin: auto 5px;
  }
}

// 404页面
.notfound {
  display: block;
  text-align: center;
  // width: 25%;
  @include div-middle;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  h1 {
    padding-top: 0.5em;
  }
}

// YouTube
.ytb-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.ytb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Douban Read
.douban-list ul li {
  width: 80px;
  float: left;
  margin: 5px;
  list-style: none outside none;
  img {
    width: 70px;
    height: 100px;
    padding: 5px;
    border: solid 1px #DDD;
  }
}

.clear {
  clear: both;
}

.douban-title {
  font-size: 0.9em;
  color: $blue-dark;
  &:before {
    content: '#';
    color: $blue-dark;
  }
}

// Post Achive
ul.post_list {
    margin-bottom: 0.2em;
}

.post_count {
  color: $blue-dark;
  font-size: .8em;
}