@use "variable";

// text fold
details {
  p {
    font-family: variable.$quote-font;
    color: variable.$sub-font-color;
    padding: 1em;
    border-radius: 5px;
    background: variable.$background-color;
  }
}

summary {
  display: inline-block;
  margin: 3px auto;
  cursor: pointer;
  color: variable.$sub-link-color;
  border-bottom: 1px solid variable.$link-color;

  &:after {
    content: url(variable.$sum-image);
    padding-left: 2px;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

details[open] {
  > summary {
    border-bottom: none;
  }
}

// back to top
#back-top {
  a {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: block;
    border: 1px solid variable.$border-color;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #fff;
    text-align: center;
  }
}

#arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  transform: rotate(-45deg);
  margin: 14px 10.5px;
}

// footnote
sup {
  a {
    font-size: 0.7em;
    line-height: 0;
    vertical-align: text-top;
    position: relative;
    bottom: -0.1em;
    text-decoration: none;
    border-bottom: none !important;

    &:before {
      content: "[";
      color: variable.$link-color;
    }

    &:after {
      content: "]";
      color: variable.$link-color;
    }
  }
}

.footnotes {
  font-size: 0.8em;
  color: #999;
  margin-top: 25px;
  padding-top: 10px;

  &:before {
    display: block;
    content: "";
    border-top: 0.6px solid variable.$border-color;
    width: 5%;
    margin-bottom: 7px;
  }

  a {
    text-decoration: none;
  }
}

// content
.post-toc {
  visibility: hidden;
  position: fixed;
  display: block;
  right: 50px;
  top: 170px;
  padding: 5px;
  width: 210px;
  max-width: 210px;
  background: #f6f6f6; //#3c3c3c;
  border-radius: 3px;

  ol,
  ul {
    margin-left: 1em;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
    margin: auto 5px;

    a {
      color: variable.$sub-font-color;
      font-size: 0.9em;

      &.active {
        color: variable.$hover-color;
      }
    }
  }

  &:before {
    display: block;
    content: "TOC";
    margin: 5px;
    font-size: 1.1em;
  }
}

// YouTube
.ytb-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.ytb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Post Achive
.post_count {
  color: variable.$sub-font-color;
  font-size: 0.8em;
  vertical-align: text-bottom;
}

.post_num {
  color: variable.$sub-link-color;
}

// Category
.index-meta {
  margin-top: -40px;
}

.category {
  float: right;
  font-size: 0.8em;

  li {
    display: inline;
  }
}

.search-icon {
  float: left;

  a {
    color: variable.$hover-color;
  }
}

.tag_box {
  margin: 0;

  li {
    display: inline;
    margin-right: 10px;
  }
}

.collcontent {
  display: none;
  transition: max-height 0.3s ease;
}

.collapsible {
  cursor: pointer;
}

// post figure
.post-figcaption {
  position: relative;
  display: none;
  color: variable.$sub-link-color;
  margin-bottom: 1em;
  font-size: 0.9em;
  text-align: center;
}

// algolia search
#search-searchbar {
  .ais-search-box {
    max-width: 100%;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
  }

  .ais-search-box--powered-by {
    margin-top: 10px;
    font-size: 0.8em;
    color: variable.$meta-color;
  }

  .ais-search-box--input {
    background: variable.$page-color;
    color: variable.$font-color;
    border: variable.$page-color;
    line-height: 150%;
  }
}

.post-item {
  margin-bottom: 30px;
  // padding-left: 15px;
  // border-left: 2px solid variable.$hover-color;
}

.post-link .ais-Highlight {
  background: #f7d94c;
  font-style: normal;
}

.post-breadcrumbs {
  color: #424242;
  display: block;
}

.post-breadcrumb {
  font-size: 1.1em;
  color: variable.$font-color;
}

.post-breadcrumb .ais-Highlight {
  background: #f7d94c;
  font-weight: bold;
  font-style: normal;
}

.post-snippet .ais-Highlight {
  background: #f7d94c;
  font-style: normal;
  font-weight: bold;
  // color: variable.$sub-link-color;
}

.post-snippet img {
  display: none;
}

#search-hits {
  display: none;

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}

// Gist
.gist {
  max-width: 720px;

  th,
  td {
    border: none;
  }

  tbody tr:nth-child(2n) {
    background: none;
  }

  .blob-wrapper {
    background: #f5f2f0;
  }

  .highlight {
    background: #f5f2f0 !important;
  }
}

.gist-file .gist-data {
  max-height: 360px;
}

.post-tags {
  font-size: 0.85em;
  margin-top: 2em;

  ul {
    margin: 0;

    li {
      display: inline;
      list-style: none;
      margin-right: 1em;
    }
  }
}

#gitlab-gist.gitlab-embed-snippets {
  margin: 0;

  a {
    border-bottom: none;
  }

  .line-numbers {
    display: none;
  }

  .blob-content {
    width: 100%;
    max-height: 360px;

    pre {
      font-size: 0.95em;
      border-left: none;
      padding: 0 1em;
      background-color: #f5f2f0;
    }

    code {
      padding: 0;
      margin: 0;
    }
  }

  .file-title-flex-parent {
    padding: 3px 1em;
    font-size: 0.9em;

    .file-header-content {
      .gl-snippet-icon {
        display: none;
      }
    }
  }

  .btn-group a.btn {
    background-color: #fafafa;
    border: none;

    &:last-child {
      border-right: none;
    }
  }
}


// Book list
#bookshelf-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .35s ease;
}

#bookshelf-content.expanded {
  max-height: 10000px;
}

.book-show {
  overflow: hidden;
}

ul.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  gap: 4px 0;
  padding: 0 4px;
  margin: 0 auto;
  list-style: none;

  li {
    width: 90px;
    display: flex;
    justify-content: center;

    img {
      width: 70px;
      height: 100px;
      border: 1px solid #ddd;
      object-fit: cover;
    }
  }
}

// DisqusJS
#dsqjs {
  margin-bottom: 20px;

  a {
    color: variable.$link-color;
  }

  #dsqjs-msg {
    color: variable.$sub-link-color;
    line-height: 1.6em;
    margin-bottom: 10px;
  }

  .dsqjs-no-comment {
    color: #7f8484;
  }

  .dsqjs-nav {
    width: 100%;
  }

  .dsqjs-footer {
    text-align: right;
    font-size: 13px;
  }
}