// css reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

q {
  quotes: none; 
  background-color: #f0f0f0;
  &:before, &:after {
  	content: "";
  	content: none;
  }
}

// basic
html {
  height: 100%;
  max-height: 100%; 
}

body {
  height: 100%;
  width: 100%;
  *zoom: 1;
  line-height: 1;
  font-family: $heiti-serif;
  font-size: 1em;
  color: #000;
  -webkit-font-smoothing: antialiased; 
  &:before {
  	content: "";
    display: table;
  }
  &:after {
  	content: "";
    display: table;
    clear: both;
  }
}

p {
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 1.7em; 
  a {
  	margin-left: 4px;
    margin-right: 4px;
  }
}

code {
  font-size: 0.9em;
  color: #07a;
  background: #f9f2f4;
  border: 1px solid #d6d6d6;
  font: inherit;
  vertical-align: middle;
  border-radius: 3px; 
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
  	color: $hover-color;
  	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    // cursor:url('/images/default/umbrella.ico'), auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  font-weight: normal;
  color: #333;
  -webkit-font-smoothing: antialiased; 
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: .05em; 
}

h2 {
  font-size: 1.5em;
  line-height: 0.8em；
}

h3 {
  font-size: 1.15em;
  font-weight: bold;
  padding: 5px auto;
  margin-top: 5px;
  margin-bottom: 20px;
  &:after {
  	display: block;
    content: ' ';
    margin-top: 5px;
    width: auto;
    border-bottom: 1px solid $border-color;
  }
}

h4 {
  font-size: 1.1em; 
  padding: auto 5px;
  font-weight: bold;
}

h5 {
	font-size:1.05em;
  font-weight: bold;
}

strong {
  font-weight: bold;
  font-size: 0.95em;
}

em {
  font-style: italic; }

blockquote {
  font-family: $heiti-serif;
  font-weight: normal;
  font-size: 1em;
  color: #4f4f4f;
  margin:15px 0;
  border-left: 2px solid $border-color;
  p {
  	padding-left: 20px;
    padding-right: 20px;
  }
}

ol, ul {
  margin: 0 0 1.3em 2.2em;
  li {
  	margin: 0 0 .2em 0;
    line-height: 1.6em;
    p {
      margin: 0 0 .2em 0;
      line-height: 1.6em; 
      padding-left: 0px;
    }
  }
  ol, ul {
  	margin: .1em 0 .2em 2em;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

table {
  color: #333;
  font-size: .9em;
  text-align: center;
  line-height: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 75%;
  margin: 50px auto; 
}

th, td {
  border: 1px solid #ddd;
  text-align: center; 
}

// post-info
.date,
.time,
.author,
.tags {
  color: #c7c7c7;
  a {
    color: #fff;
    &:hover {
      color: $link-color;
    }
  }
}

.excerpt {
  padding-left: 10px; 
  padding-right: 10px;
  font-size: 1em;
  color: #4F4F4F; 
  text-align: justify;
  text-justify:inter-word;
}

.intro {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999; 
}

.block-heading {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: $link-color;
  border-radius: 3px;
  text-align: center;
  color: #FFF; 
}

// container
.container {
  position: relative;
  z-index: 500;
  width: 940px;
  margin: 0 auto; 
}

.content-wrapper {
  z-index: 800;
  width: 70%;
  margin-left: 30%; 
}

.content-wrapper__inner {
  margin-right: 140px;
  margin-left: 45px;
  padding: 50px 0; 
}

.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 1px solid #ddd;
  font-size: .7em;
  color: #b3b3b3; 
}

.footer__copyright {
    display: block;
    margin-bottom: .7em;
    a {
      color: #a6a6a6;
      text-decoration: underline;
      &:hover {
      	color: red-dark;
      } 
    }
}

.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3); 
}

hr {
  border: none; 
}

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $border-color; 
}

.hidden {
  display: none !important; 
}

