// css reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

q {
  quotes: none; 
  background-color: $background-color;
  &:before, &:after {
  	content: "";
  	content: none;
  }
}

// basic
html {
  height: 100%;
  max-height: 100%; 
}

body {
  height: 100%;
  width: 100%;
  *zoom: 1;
  line-height: 1;
  font-family: $body-font;
  font-size: 15px;
  color: $font-color;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased; 
  &:before {
  	content: "";
    display: table;
  }
  &:after {
  	content: "";
    display: table;
    clear: both;
  }
}

p {
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 1.7em; 
  a {
  	margin-left: 4px;
    margin-right: 4px;
  }
}

code {
  font-size: 0.9em;
  color: #07a;
  background: $background-color;
  // font: inherit;
  vertical-align: baseline;
  border-radius: 3px;
  padding: 3px; 
  margin: auto 3px;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
  	color: $hover-color;
  	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  font-weight: normal;
  color: $title-color;
  -webkit-font-smoothing: antialiased; 
}

h1 {
  margin-top: 0;
  font-size: 1.6em;
  line-height: 1.2em;
  letter-spacing: .05em; 
}

h2 {
  font-size: 1.4em;
  line-height: 0.8em;
}

h3 {
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
  // margin-top: 5px;
  // margin-bottom: 20px;
  // &:after {
  // 	 display: block;
  //   content: ' ';
  //   margin-top: 5px;
  //   width: auto;
  //   border-bottom: 1px solid $border-color;
  // }
}

h4 {
  font-size: 1.1em; 
  font-weight: bold;
}

h5 {
	font-size:1.05em;
  font-weight: bold;
}

strong {
  font-weight: bold;
  font-size: 0.95em;
}

em {
  font-style: italic; }

blockquote {
  font-family: $quote-font;
  font-weight: normal;
  font-size: 1em;
  color: $sub-font-color;
  margin:15px 0;
  background: $background-color;
  border-radius: 5px;
  // border-left: 2px solid $border-color;
  p {
  	padding-left: 2em;
    padding-right: 2em;
    &:first-child {
      padding-top: 1em;
    }
    &:last-child {
      padding-bottom: 1em;
    }
  }
}

ol, ul {
  margin: 0 0 1.3em 2em;
  li {
  	margin: 0 0 .2em 0;
    line-height: 1.6em;
    p {
      margin: 0 0 .2em 0;
      line-height: 1.6em; 
      padding-left: 0px;
    }
  }
  ol, ul {
  	margin: .1em 0 .2em 2em;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

table {
  color: $sub-font-color;
  font-size: .9em;
  text-align: center;
  line-height: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;
  width: 75%;
  margin: 25px auto; 
}

th, td {
  border: 1px solid $border-color;
  text-align: center; 
}

// post-info
.excerpt {
  // padding-left: 10px; 
  // padding-right: 10px;
  font-size: 1em;
  color: $sub-font-color; 
  text-align: justify;
  text-justify:inter-word;
}

.block-heading {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

// container
.container {
  // position: relative;
  // z-index: 500;
  // width: 940px;
  // margin: 0 auto; 
  margin: 60px auto;
  background-color: #fcfcfc;
  max-width: 780px;

}

.content-wrapper {
  display: block;
  z-index: 800;
  width: 100%;
  max-width: 780px;
  margin: 100px auto auto auto;
  p {
    text-align: justify;
    text-justify: distribute;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.content-wrapper__inner {
  padding: 0 30px; 
}

.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 1px solid $border-color;
  font-size: .7em;
  color: $sub-font-color; 
  padding-bottom: 15px;
  .footer_div {
    text-align: center; 
    width: 100%;
    .copyright {
      color: $link-color;
    }
    #runtime {
      color: $hover-color;
    }
  }
}

hr {
  border: none; 
  // margin: 1em 50%;
}

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $border-color; 
}

.hidden {
  display: none !important; 
}

