/* PrismJS 1.30.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+c+cpp+coffeescript+csv+django+docker+git+go+graphql+json+json5+latex+less+liquid+markdown+markup-templating+python+r+jsx+tsx+regex+ruby+rust+sass+scss+sql+toml+typescript+vim+visual-basic+yaml+yang&plugins=line-numbers+show-language+toolbar+copy-to-clipboard */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--prism-color-fg);
  background: 0 0;
  text-shadow: var(--prism-text-shadow); 
  
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  /* adition */
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 0.95em;
}

[data-theme="dark"] code[class*="language-"],
[data-theme="dark"] pre[class*="language-"] {
    text-shadow: none;
}

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: var(--prism-selection-bg);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--prism-color-bg);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog { color: var(--prism-token-comment); }
.token.punctuation { color: var(--prism-token-punctuation); }
.token.namespace { opacity: var(--prism-token-namespace-opacity); }
.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag { color: var(--prism-token-boolean-number); }
[data-theme="dark"] .token.attr-name, [data-theme="dark"] .token.deleted, [data-theme="dark"] .token.namespace, [data-theme="dark"] .token.tag { color: var(--prism-token-tag-deleted); }
[data-theme="dark"] .token.class-name, [data-theme="dark"] .token.constant, [data-theme="dark"] .token.property, [data-theme="dark"] .token.symbol { color: var(--prism-token-constant-symbol); }
[data-theme="dark"] .token.boolean, [data-theme="dark"] .token.function, [data-theme="dark"] .token.number { color: var(--prism-token-boolean-number); }
.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string { color: var(--prism-token-string); }
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  color: var(--prism-token-entity-operator);
  background: var(--prism-token-css-string-bg);
}
[data-theme="dark"] .token.entity, [data-theme="dark"] .token.operator, [data-theme="dark"] .token.url { color: var(--prism-token-entity-operator); }
.token.atrule, .token.attr-value, .token.keyword { color: var(--prism-token-keyword); }
.token.class-name, .token.function { color: var(--prism-token-function); }
[data-theme="dark"] .token.function-name { color: var(--prism-token-function-name); }
.token.important, .token.regex, .token.variable { color: var(--prism-token-variable); }
[data-theme="dark"] .token.inserted { color: green; }
[data-theme="dark"] .token.attr-value, [data-theme="dark"] .token.char, [data-theme="dark"] .token.regex, [data-theme="dark"] .token.string, [data-theme="dark"] .token.variable { color: var(--prism-token-string); }
[data-theme="dark"] .token.atrule, [data-theme="dark"] .token.builtin, [data-theme="dark"] .token.important, [data-theme="dark"] .token.keyword, [data-theme="dark"] .token.selector { color: var(--prism-token-keyword); }

.token.bold, .token.important { font-weight: 700; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}
pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid var(--prism-line-number-border);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: var(--prism-line-number-color);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

div.code-toolbar {
  position: relative;
}
div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
div.code-toolbar:hover > .toolbar {
  opacity: 1;
}
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}
div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}
div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}
div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: var(--prism-toolbar-color);
  font-size: 0.8em;
  padding: 0 0.5em;
  background: var(--prism-toolbar-bg-styled);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none;
}