#comment {
  .auth-section {
    padding: 0;
    background: $page-color;

    .post-action button {
      border: none;
      background-color: $hover-color;

      &:hover {
        background-color: $link-color;
      }
    }

    .input-wrapper input {
      background: $page-color;
      color: $sub-font-color;
    }
  }

  .info {
    margin: 1em 0;
    text-align: left;

    .col {
      padding: 0;
      background: none;
      color: $meta-color;

      .count {
        color: $link-color;
      }
    }

    &::before {
      display: none;
    }
  }

  .vcomment-body {
    padding: 1.5em 0;

    .vat {
      color: #fcfcfc;
    }

    &:hover .vat {
      background: $hover-color !important;
      border-radius: 15px;
      color: #efefef;
    }

    .vavatar:hover {
      @include rotate-circle;
    }

    .vcomment {
      * {
        color: $font-color;
      }

      p{
        word-break: break-word;
        text-justify: distribute;
        color: $sub-font-color;
      }

      a {
        color: $link-color;
      }
    }

    .vname {
      color: #90bdb2;
    }

    .vcomment.expand {
      &::before {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(39, 106, 84, 0.8));
      }

      &::after {
        background: rgba(39, 106, 84, 0.8);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

  }

  .vbtn {
    border: none;
    border-radius: 15px;
  }

  .trigger_title {
    color: $meta-color;  //#e8e8e8;
    font-size: 1em;
  }

  .comment_trigger {
    padding: 0 0 0 0.5em;
    background-color: $page-color;
  }

  .vinputs-area {
    background: $page-color;
    border: 1px solid $border-color;
    border-radius: 5px;

    .textarea-wrapper {
      background: $page-color;
    }

    .textarea-wrapper textarea {
      background: $page-color;
      color: $font-color;
    }
  }

  .vpage .more {
    background: $page-color;
    color: $link-color;
  }
}