#comment {
  .auth-section {
    padding: 0;

    .post-action button {
      border: none;
      background-color: #7DB9DE;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .info {
    margin: 1em 0;
    text-align: left;

    .col {
      padding: 0;
      background: none;
    }

    &::before {
      display: none;
    }
  }

  .vcomment-body {
    padding: 1.5em 0;

    &:hover .vat {
      background: #7DB9DE !important;
      border-radius: 15px;
      color: #efefef;
    }

    .vavatar:hover {
      @include rotate-circle;
    }

    .vcomment {
      p{
        word-break: break-word;
        text-justify: distribute;
      }

      a {
        color: $link-color;
      }
    }

  }

  .vbtn {
    border: none;
    border-radius: 15px;
  }

  .trigger_title {
    color: #e8e8e8;
    font-size: 1em;
  }

  .comment_trigger {
    padding: 0 0 0 0.5em;
  }
}