#comment {
  .auth-section {
    padding: 0;
    background: #3e3e3e;

    .post-action button {
      border: none;
      background-color: $hover-color;

      &:hover {
        background-color: $link-color;
      }
    }

    .input-wrapper input {
      background: #3e3e3e;
      color: $sub-font-color;
    }
  }

  .info {
    margin: 1em 0;
    text-align: left;

    .col {
      padding: 0;
      background: none;
      color: $meta-color;

      .count {
        color: $link-color;
      }
    }

    &::before {
      display: none;
    }
  }

  .vcomment-body {
    padding: 1.5em 0;

    .vat {
      color: #232222;
    }

    &:hover .vat {
      background: $hover-color !important;
      border-radius: 15px;
      color: #efefef;
    }

    .vavatar:hover {
      @include rotate-circle;
    }

    .vcomment {
      p{
        word-break: break-word;
        text-justify: distribute;
        color: $font-color;
      }

      a {
        color: $link-color;
      }
    }

    .vname {
      color: #b9b9b9;
    }

  }

  .vbtn {
    border: none;
    border-radius: 15px;
  }

  .trigger_title {
    color: $meta-color;//#e8e8e8;
    font-size: 1em;
  }

  .comment_trigger {
    padding: 0 0 0 0.5em;
    background-color: #3e3e3e;
  }

  .vinputs-area {
    background: #3e3e3e;
    border: 1px solid $border-color;
    border-radius: 5px;

    .textarea-wrapper textarea {
      background: #3e3e3e;
      color: $font-color;
    }
  }

  .vpage .more {
    background: #3e3e3e;
    color: $link-color;
  }
}