/*--comment box-- */
#comment .vwrap {
  padding: 5px;
  margin-top: 20px;
  border: 1px solid #ddd;
}
#comment .vwrap .vcontrol {
  padding-top: 0;
}
#comment .vbtn{
  padding: .15rem .5rem;
  font-size: .725rem;
}
#comment .vwrap .vedit .vctrl span{
  padding: 0;
  color: #ccc;
}
#comment .vinput {
  padding: 5px 0;
}
#comment .vwrap .vheader .vinput {
  border-bottom: 1px solid #ddd;
}
#comment .veditor {
  min-height: 0;
}
#comment .vwrap .vcontrol .col.col-20 a {
  color: #ccc;
  pointer-events: none;
}
#comment .vwrap .vcontrol .col.col-20 {
  font-size: .6rem;
  vertical-align: bottom;
}
#comment .vlist .vcard .vhead .vsys {
  display: none;
  padding: .1rem .2rem;
  font-size: .6rem;
}
#comment .txt-right {
  display: none;
}
#comment .vempty {
  font-size: .725rem;
}
#comment textarea::placeholder {
  color: #e8e8e8;
}
#comment .vlist .vcard a {
  color: #aaa;
}
#comment .vlist .vcard a:hover {
  color: #7b0f19;
}
#comment .vlist .vcard a:before {
  background: none;
}
#comment .vlist .vcard .vh {
  border-bottom: none;
  border-top: 1px solid #f5f5f5;
}
#comment .vlist .vcard .vquote {
  border-left: none;
  padding-left: 0;
}
#comment .vlist .vcard .vh .vmeta .vat {
  float: none;
  color: #b3b3b3;
  font-size: .75rem;
}
#comment .vlist .vcard .vhead .vnick {
  color: #aaa;
}
#comment .vlist .vcard .vhead .vnick:hover {
  color: #7b0f19;
}
#comment .vlist .vcard .vhead .vnick:before {
  background: none;
}
#comment .vlist .vcard {
  padding-top: 0.35rem;
}
#comment .vlist .vcard .vcontent {
  margin-bottom: 0;
  padding-top: 0;
  line-height: 1.7em;
}
#comment .vlist .vcard .vimg {
  width: 2.5rem;
  height: 2.5rem;
}
#comment .vlist .vcard .vimg:hover {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
