---
title: 存档
layout: page
group: navigation
permalink: /archive/
---

<div>
  <h3>统计</h3><hr>
  <ul>
	<li>文章: <span class="post_num">{{ site.posts | size }}</span> 篇</li>
	{% assign count = 0 %}
	{% for post in site.posts %}
	  {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
	  {% assign count = count | plus: single_count %}
	{% endfor %}	
	<li>字数: <span class="post_num">{{ count | divided_by: 1000.0 | round: 2 }}K</span> 字</li>
  </ul>
</div>
{% assign count = 1 %}
{% for post in site.posts reversed %}
  {% assign year = post.date | date: '%Y' %}
  {% assign nyear = post.next.date | date: '%Y' %}
  {% if year != nyear %}
    {% assign count = count | append: ', ' %}
    {% assign counts = counts | append: count %}
    {% assign count = 1 %}
  {% else %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign counts = counts | split: ', ' | reverse %}
{% assign i = 0 %}

{% for post in site.posts %}
  {% assign year = post.date | date: '%Y' %}
  {% assign nyear = post.next.date | date: '%Y' %}
  {% if year != nyear %}
<div>
  <hr><h3>{{ post.date | date: '%Y' }}<sup class="post_count"> [{{ counts[i] }}]</sup></h3>
  {% assign i = i | plus: 1 %}
  {% endif %}
  <ul class="post_list">
  <li>{{ post.date | date: '%m-%d' }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> 
  </ul>
{% endfor %}
</div>