#musicContainer{
  z-index:7777;
  position:relative;
  display:none;
  @include media-query($small-screen) {
    display:block;
  }
}
#musicSwitch{
  display:block;
  width:50px;
  height:50px;
  position:fixed;
  bottom:5px;
  right:5px;
  background-color:#F36170;
  -webkit-border-radius:25px;
  border-radius:25px;
  -webkit-transition:all .35s;
  transition:all .35s;
  background-image:url(../../img/music.png);
  &:hover{
    background-color:#8d7edc;
  }
  &.active{
    background-color:#8d7edc;
    -webkit-transform:rotate3d(0, 1, 0, -180deg);
    transform:rotate3d(0, 1, 0, -180deg);
    +#skPlayer{
      //display:block;
      right:61px;
      @include media-query($medium-screen) {
        right:77px;
      }
    }
  }
  @include media-query($medium-screen) {
    right:21px;
  }
}
#skPlayer{
  //display:none;
  position:fixed!important;
  bottom:182px;
  right:-777px;
  transition:.3s;
}
